/* ======= Base ======= */
body {
    font-family: 'Roboto', sans-serif;
    color: @text-color-secondary;
    background: @smoky-white;
    font-size: 14px;
    padding: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6  {
    font-weight: 700;
}

a {
    color: @theme-color;
    .transition(all 0.4s ease-in-out);
    &:hover {
        text-decoration: underline;
        color: darken(@theme-color, 30%);
    }
    &:focus {
        text-decoration: none;
    }
}

p {
    line-height: 1.5;
}

.wrapper {
    background:@theme-color;
    .box-shadow(0px 2px 4px rgba(0,0,0,0.1));
}

.sidebar-wrapper {
    padding: 0 !important;
    background: @theme-color;
    color: #fff;
    a {
        color: #fff;
    }
    .profile-container {
        padding: 30px;
        //background: darken(@theme-color, 10%);
        background: rgba(0, 0, 0, 0.2);
        text-align: center;
        color: #fff;
    }
    .name {
        font-size: 32px;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .tagline {
        color: rgba(256, 256, 256, 0.6);
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
    }
    .profile {
        margin-bottom: 15px;
    }
    .contact-list {
        .fa {
            margin-right: 5px;
            font-size: 18px;
            vertical-align: middle;
        }
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .container-block {
        padding: 30px;
    }
    .container-block-title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .degree {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .award {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .resume-list {
        margin-bottom: 0;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .education-container, .awards-container {
        .item {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .meta {
            color: rgba(256, 256, 256, 0.6);
            font-weight: 500;
            margin-bottom: 0px;
            margin-top: 0;
        }
        .time {
            color: rgba(256, 256, 256, 0.6);
            font-weight: 500;
            margin-bottom: 0px;
        }
    }
    .languages-container {
        .lang-desc {
            color: rgba(256, 256, 256, 0.6);
        }
    }

    .languages-list {
        margin-bottom: 0;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .interests-container {
        .interests-desc {
            color: rgba(256, 256, 256, 0.6);
        }
    }
    .interests-list {
        margin-bottom: 0;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.main-wrapper {
    background: #fff;
    padding: 60px;
    .section-title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        color: darken(@theme-color, 15%);
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
        .fa {
            width: 30px;
            height: 30px;
            margin-right: 8px;
            display: inline-block;
            color: #fff;
            .border-radius(50%);
            background: darken(@theme-color, 15%);
            text-align: center;
            padding-top: 8px;
            font-size: 16px;
            position: relative;
            top: -2px;
        }

    }
    .section {
        margin-bottom: 60px;
    }

    .experiences-section {
        .item {
            margin-bottom: 30px;
        }
    }
    .upper-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 2px;
    }
    .job-title {
        color: @text-color;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
    }
    .time {
        position: absolute;
        right: 0;
        top: 0;
        color: @text-grey;
    }
    .company {
        margin-bottom: 10px;
        color: @text-grey;
    }

    .project-title {
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .projects-section {
        .intro {
            margin-bottom: 30px;
        }
        .item {
            margin-bottom: 15px;
        }
    }

}


.skillset {
    .item {
        margin-bottom: 15px;
        overflow: hidden;
    }
    .level-title {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 12px;
    }
    .progress {
        height: 12px;
        margin: 0;
    }
    .progress-bar {
        height: 12px;
        background: lighten(@theme-color, 15%);
    }
}

.generate-tagcloud(10);

.generate-tagcloud(@n, @i: 1) when (@i =< @n) {

  div.tagcloud span.w@{i} {
    font-size: @i * 25% + 50%;
    color: (@text-color-secondary * (@n - @i) + @theme-color * @i) / @n;
  }

  .generate-tagcloud(@n, (@i + 1));
}

div.tagcloud {
  position: relative;
  margin: 0 auto;
}

.footer {
    padding: 30px;
    padding-bottom:0;

    .text-center {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }

        .languages-list {
            display: inline;
            margin-left: 0;
        }

        .copyright {
            line-height: 1.6;
            color: @text-color-secondary;
            font-size: 13px;
        }

        .fa-heart {
            color: @heart;
        }
    }
}
