<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" ng-app="orbit-angular" ng-controller="MainCtrl as main" lang="{{main.content.language}}" > <![endif]-->
<!--[if IE 9]> <html class="ie9" ng-app="orbit-angular" ng-controller="MainCtrl as main" lang="{{main.content.language}}" > <![endif]-->
<!--[if !IE]><!--> <html ng-app="orbit-angular" ng-controller="MainCtrl as main" lang="{{main.content.language}}"> <!--<![endif]-->
<head>
    <title ng-bind="main.content.name"></title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{main.content.name}}">
    <meta name="author" content="Franco Javier Salinas Mendoza">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <script src="javascripts/app.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="stylesheets/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
    <div class="row wrapper">
        <div class="col-sm-5 col-sm-push-7 col-md-4 col-md-push-8 sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="images/profile.png" alt="{{'profile picture'|translate}}" />
                <h1 class="name" ng-bind="main.content.name"></h1>
                <h3 class="tagline" ng-bind="main.content.tagline"></h3>
            </div><!--//profile-container-->

            <div class="contact-container container-block" ng-if="main.content.address_list && main.content.address_list.length > 0">
                <ul class="list-unstyled contact-list">
                    <li ng-repeat="address in main.content.address_list"><i ng-class="'fa ' + address.icon"></i><a ng-href="{{address.link}}" ng-bind="address.show"></a></li>
                </ul>
            </div><!--//contact-container-->

            <div class="resume-container container-block" ng-if="main.content.curriculum_list && main.content.curriculum_list.length > 0">
                <h2 class="container-block-title" translate="curriculum"></h2>
                <ul class="list-unstyled curriculum-list" ng-repeat="curriculum in main.content.curriculum_list">
                    <li><a ng-href="{{curriculum.link}}" ng-bind="curriculum.name"></a></li>
                </ul>
            </div><!--//resume-container-->

            <div class="education-container container-block" ng-if="main.content.degree_list && main.content.degree_list.length > 0">
                <h2 class="container-block-title" translate="education"></h2>
                <div class="item" ng-repeat="degree in main.content.degree_list">
                    <h4 class="degree" ng-bind="degree.name"></h4>
                    <h5 class="meta" ng-bind="degree.where"></h5>
                    <div class="time" ng-bind="degree.when"></div>
                </div><!--//item-->
            </div><!--//education-container-->

            <div class="awards-container container-block" ng-if="main.content.award_list && main.content.award_list.length > 0">
                <h2 class="container-block-title" translate="awards"></h2>
                <div class="item" ng-repeat="award in main.content.award_list">
                    <h4 class="award" ng-bind="award.name"></h4>
                    <h5 class="meta" ng-bind="award.where"></h5>
                    <div class="time" ng-bind="award.when"></div>
                </div><!--//item-->
            </div><!--//awards-container-->

            <div class="languages-container container-block" ng-if="main.content.language_list && main.content.language_list.length > 0">
                <h2 class="container-block-title" translate="languages"></h2>
                <ul class="list-unstyled interests-list">
                    <li ng-repeat="language in main.content.language_list">
                        <span ng-bind="language.name"></span> <span class="lang-desc" ng-bind="language.level"></span>
                    </li>
                </ul>
            </div><!--//languages-->

            <div class="interests-container container-block" ng-if="main.content.interest_list && main.content.interest_list.length > 0">
                <h2 class="container-block-title" translate="interests"></h2>
                <ul class="list-unstyled interests-list">
                    <li ng-repeat="interest in main.content.interest_list" ng-bind="interest"></li>
                </ul>
            </div><!--//interests-->

        </div><!--//sidebar-wrapper-->

        <div class="col-sm-7 col-sm-pull-5 col-md-8 col-md-pull-4 main-wrapper">
            <section class="section summary-section" ng-if="main.content.about_me">
                <h2 class="section-title"><i class="fa fa-user"></i><span translate="about me"></span></h2>
                <div class="summary">
                    <p ng-bind="main.content.about_me"></p>
                </div><!--//summary-->
            </section><!--//section-->

            <section class="section experiences-section" ng-if="main.content.experience_list && main.content.experience_list.length > 0">
                <h2 class="section-title"><i class="fa fa-briefcase"></i><span translate="experience"></span></h2>
                <div class="item" ng-repeat="experience in main.content.experience_list">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title" ng-bind="experience.name"></h3>
                            <div class="time" ng-bind="experience.when"></div>
                        </div><!--//upper-row-->
                        <div class="company" ng-bind-html="experience.where"></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p ng-bind-html="experience.description"></p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->

            <section class="section projects-section" ng-if="main.content.project_list && main.content.project_list.length > 0">
                <h2 class="section-title"><i class="fa fa-archive"></i><span translate="projects"></span></h2>
                <div class="item" ng-repeat="project in main.content.project_list" id="{{project.name | slugify}}">
                    <h3 class="project-title"><a ng-href="{{project.link}}" ng-bind="project.name"></a></h3>
                    <p ng-bind-html="project.description"></p>
                </div><!--//item-->
            </section><!--//section-->

            <section class="skills-section section" ng-if="main.content.skill_list && main.content.skill_list.length > 0">
                <h2 class="section-title"><i class="fa fa-rocket"></i><span translate="skills"></span></h2>
                <div class="skillset">
                    <div class="item" ng-repeat="skill in main.content.skill_list">
                        <h3 class="level-title" ng-bind="skill.name"></h3>
                        <uib-progressbar value="skill.level"></uib-progressbar>
                    </div><!--//item-->
                </div>
            </section><!--//skills-section-->

            <section class="tags-section section" ng-if="main.content.tag_list && main.content.tag_list.length > 0">
              <h2 class="section-title"><i class="fa fa-rocket"></i><span translate="tags"></span></h2>
              <ng-tag-cloud class="tagcloud" fluid="true" cloud-data="main.content.tag_list">
              </ng-tag-cloud>
            </section><!--//tags-section-->

        </div><!--//main-body-->
    </div>

    <footer class="footer">
        <div class="text-center">
            <span translate="language"></span> :
            <ul class="list-inline languages-list">
                <li><a ng-click="main.setLocale('en')">English</a></li>
                <li><a ng-click="main.setLocale('es')">Español</a></li>
            <ul>
       </div>
        <div class="text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright" translate="copyright"></small>
        </div><!--//container-->
    </footer><!--//footer-->
    </div>
</body>
</html>
